/* max_off_the_code */
/* use a more-intuitive box-sizing model */

/* CUSTOM PROPERTIES */

:root {
    --danger-red: #E50914;
    --soft-gray: #515151;
    --accent-cyan: #00FFFF;
  }

*, *::before, *::after {
 box-sizing: border-box;
}
/*  remove default margin */
* {
 margin: 0;
 font-family: Arial, Helvetica, sans-serif;
 scrollbar-width: none;
}


/* remove lists default styles without ruining IOS screen reader accessibility  */
ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

/* enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
 html {
   interpolate-size: allow-keywords;
 }
}
body {
 /* add accessible line-height */
 line-height: 1.5;
 /* improve text rendering */
 -webkit-font-smoothing: antialiased;

    background-color: black;

 height: 100vh;
 width: 100vw;
 min-width: 800px;

 display: flex;
 flex-direction: column;
 justify-content: space-between;
 
overflow: auto;

}
/* improve media defaults */
img, picture, video, canvas, svg {
 display: block;
 max-width: 100%;
}
/* inherit fonts for form controls */
input, button, textarea, select {
 font: inherit;
}
/* avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
 overflow-wrap: break-word;
}
/* improve line wrapping */
p {
 text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
 text-wrap: balance;
}

/* off_the_button_styles */

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}


/* Board styles */

div {
    color: var(--soft-gray);
}

.header,
.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1;
}


.content_body {
    display: flex;
    justify-content: space-around;

    flex: 8;
}

.board_display {
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    align-items: center; 

    width: 50%;
    min-width: 450px;

    /* board display container*/
}

.board_container {
    border-radius: 25px;

    flex: 1;

    max-height: 500px;
    min-height: 250px;
    aspect-ratio: 1 / 1; /* forces perfect square */

    display: grid;
    grid-template: repeat(3,1fr) / repeat(3,1fr);

    

    gap: 1rem;

    /* actual board */

}


.board_container>.button_container>button {
    background-color: transparent;
    box-shadow: inset 0px 0px 7px 1px var(--danger-red);
    border-radius: 1rem;

    flex: 1;

}

.result_board {
    font-size: 1.8rem;
   
    display: flex;
    justify-content: center;
    align-items: center;

   flex: 1;


    /* game updates  */
}

.menu {
    flex: 1;
}


.player_leader_board {
    display: flex;
    align-items: center;

    gap: 5rem;
}

.player_leader_board>div {
    text-align: center;
}

.button_container { 
    display: flex;

}

