/* max_off_the_code */

@import "modern-normalize";

/* use a more-intuitive box-sizing model */

*, *::before, *::after {
 box-sizing: border-box;
}
/*  remove default margin */
* {
 margin: 0;
}


/* remove lists default styles without ruining IOS screen reader accessibility  */
ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

/* enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
 html {
   interpolate-size: allow-keywords;
 }
}
body {
 /* add accessible line-height */
 line-height: 1.5;
 /* improve text rendering */
 -webkit-font-smoothing: antialiased;

    background-color: black;

 height: 100vh;
 width: 100vw;

 display: flex;
 flex-direction: column;
 align-items: center;
justify-content: center;
}
/* improve media defaults */
img, picture, video, canvas, svg {
 display: block;
 max-width: 100%;
}
/* inherit fonts for form controls */
input, button, textarea, select {
 font: inherit;
}
/* avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
 overflow-wrap: break-word;
}
/* improve line wrapping */
p {
 text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
 text-wrap: balance;
}

/* off_the_button_styles */

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}


/* Board styles */

div {
    flex: 1;
    color: #E50914;
    text-shadow: 1px 4px 5px#E50914;
}

.header,
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.board_container {
    box-shadow: inset 1px 0px 6px 0px #00FFFF;
    border: 3px black solid;
    border-radius: 25px;

    flex: 5;

    width: 50%;
    height: 50%;

    display: grid;
    grid-template: repeat(3,1fr) / repeat(3,1fr);

    padding: 5%;

}

.button_container { 
    display: flex;
    border: 1px solid #E50914;

}

button {
    flex: 1;
}

